nav {
    width: 100%;
    border-bottom: 2px solid #000000;
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.judul {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.menu li a {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    padding-right: 10px;
}

.menu li a:hover {
    text-decoration: underline;
}

.menu li a.active {
    font-weight: 700;
    text-decoration: underline 2px;
}

.admin {
    width: 60%;
    margin: 0 auto; 
    text-align: center;
}

.admin-menu {
    list-style-type: none;
    display: flex; 
    gap: 10px;
    padding: 0;
    justify-content: center; 
}

.admin-menu li a {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}

.admin-menu li a:hover {
    text-decoration: underline;
}

.admin-menu li a.active {
    font-weight: 700;
    text-decoration: underline 2px;
}