* {
    box-sizing: border-box;
}
.header h1 {
    margin: 0;
    padding: 10px;
    background-color: #e4e4e4;
    border-bottom: 2px solid #3b5998;
    font-size: 1.5em;
    color: #333;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    border: 1px solid #ccc;
    margin-right: -1px;
}

.navbar a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    counter-reset: black;
    background-color: #f4f4f4;
    transition: background-color 0.3s;
}

.page-container {
    max-width: 900px;
    margin: 20px auto;
    border: 3px solid #3b5998;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.banner {
    height: 250px;
    background-image: url('https://i.pinimg.com/736x/b5/9f/d5/b59fd5a9c1c30e4f08878e78a8538450.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #3b5998;
}

.navbar a:hover {
    background-color: #ddd;
}

.content-label-wrapper {
    display: flex;
}

.content-label-wrapper span {
    padding: 5px;
    font-weight: bold;
}

.content-label {
    flex: 2;
}

.sidebar-label {
    flex: 1;
}

.main-content {
    display: flex;
    min-height: 250px;
}

.content {
    flex: 2;
    border: 1px solid #3b5998;
    padding: 10px;
    background-color: #ffff;
}

.sidebar {
    flex: 1;
    border: 1px solid #3b5998;
    border-left: none;
    padding: 10px;
    background-color: #ffff;
}

.footer {
    background-color: #3b5998;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer p {
    margin: 0;
    font-size: 0.9em;
    letter-spacing: 0.5px;
}